<launch>
  <arg name="gripper" default="" />
  <arg name="pipeline" default="pilz_industrial_motion_planner" />
  <arg name="fake_execution_type" default="last point" />

  <include file="$(dirname)/demo.launch" pass_all_args="true">
    <arg name="use_gui" value="false" />
    <arg name="use_rviz" value="false" />
  </include>
</launch>
