# This config file for Travis CI utilizes https://github.com/davetcoleman/moveit_ci/ package.
sudo: required
dist: trusty
services:
  - docker
language: generic
compiler:
  - gcc
notifications:
  email:
    recipients:
      - 130s@2000.jukuin.keio.ac.jp
env:
  global:
    - ROS_DISTRO=eloquent
    - ROS_REPO=ros
    - UPSTREAM_WORKSPACE=moveit_resources.repos
  matrix:
    - ROS_DISTRO="eloquent"

before_script:
  - git clone -b ros2 -q https://github.com/ros-planning/moveit_ci.git .moveit_ci
script:
  - source .moveit_ci/travis.sh
