<?xml version="1.0" ?>
<launch>
  <arg name="load_gripper" default="true" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>

  <include file="$(dirname)/move_group.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>
</launch>
