<?xml version='1.0' encoding='utf-8'?>
<!-- Version 0.7.1 from github.com/frankaemika/franka_ros/franka_description -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

    <!-- Name of this panda -->
    <xacro:arg name="arm_id" default="panda" />

    <!-- Create a URDF for a real hardware -->
    <xacro:include filename="$(find moveit_resources_panda_description)/urdf/panda_arm.xacro" />
    <xacro:panda_arm arm_id="$(arg arm_id)" safety_distance="0.03"/>
    <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
    <xacro:hand arm_id="$(arg arm_id)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_id)_link8" safety_distance="0.03"/>
</robot>
