<?xml version="1.0"?>
<robot name="robotiq_arg2f_85_model" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="load_gripper" params="
    parent
    prefix
    use_fake_hardware:=false
    fake_sensor_commands:=false
    sim_ignition:=false
    sim_isaac:=false">
    <xacro:include filename="$(find moveit_resources_kinova_gen3_description)/grippers/robotiq_2f_85/urdf/robotiq_2f_85_macro.urdf.xacro" />

    <!-- Hardware talks directly to the gripper so we don't need ros2_control unless we are simulating -->
    <xacro:property name="include_ros2_control" value="false"/>
    <xacro:if value="${sim_ignition or sim_isaac or use_fake_hardware}">
      <xacro:property name="include_ros2_control" value="true"/>
    </xacro:if>
    <xacro:robotiq_gripper
        name="RobotiqGripperHardwareInterface"
        prefix="${prefix}"
        parent="${parent}"
        include_ros2_control="${include_ros2_control}"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        sim_ignition="$(arg sim_ignition)"
        sim_isaac="$(arg sim_isaac)">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:robotiq_gripper>
  </xacro:macro>
</robot>
