<?xml version="1.0"?>

<robot name="gen3" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Arguments -->
    <xacro:arg name="arm" default="gen3" />
    <xacro:arg name="dof" default="7" />
    <xacro:arg name="vision" default="false" />
    <xacro:arg name="robot_ip" default="xxx.yyy.zzz.www" />
    <xacro:arg name="username" default="admin" />
    <xacro:arg name="password" default="admin" />
    <xacro:arg name="port" default="10000" />
    <xacro:arg name="port_realtime" default="10001" />
    <xacro:arg name="session_inactivity_timeout_ms" default="60000" />
    <xacro:arg name="connection_inactivity_timeout_ms" default="2000" />
    <xacro:arg name="gripper" default="robotiq_2f_85" />
    <xacro:arg name="sim_gazebo" default="false" />
    <xacro:arg name="sim_ignition" default="false" />
    <xacro:arg name="sim_isaac" default="false" />
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="fake_sensor_commands" default="true" />
    <xacro:arg name="use_internal_bus_gripper_comm" default="false" />

    <xacro:include filename="$(find kortex_description)/robots/kortex_robot.xacro" />
    <link name="world" />
    <xacro:load_robot
        parent="world"
        arm="$(arg arm)"
        gripper="$(arg gripper)"
        dof="$(arg dof)"
        vision="$(arg vision)"
        robot_ip="$(arg robot_ip)"
        username="$(arg username)"
        password="$(arg password)"
        port="$(arg port)"
        port_realtime="$(arg port_realtime)"
        session_inactivity_timeout_ms="$(arg session_inactivity_timeout_ms)"
        connection_inactivity_timeout_ms="$(arg connection_inactivity_timeout_ms)"
        use_internal_bus_gripper_comm="$(arg use_internal_bus_gripper_comm)"
        prefix="$(arg prefix)"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        sim_gazebo="$(arg sim_gazebo)"
        sim_ignition="$(arg sim_ignition)"
        sim_isaac="$(arg sim_isaac)" >
        <origin xyz="0 0 0" rpy="0 0 0" />  <!-- position robot in the world -->
    </xacro:load_robot>

</robot>
