<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fanuc">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import panda urdf file -->
    <xacro:include filename="$(find moveit_resources_fanuc_description)/urdf/fanuc.urdf" />

    <!-- Import fanuc ros2_control description -->
    <xacro:include filename="fanuc.ros2_control.xacro" />

    <xacro:fanuc_ros2_control name="FanucFakeSystem" initial_positions_file="$(arg initial_positions_file)"/>
</robot>
