<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="load_robot" params="
    parent
    *origin
    prefix
    arm
    gripper
    dof
    vision
    robot_ip
    username
    password
    port
    port_realtime
    session_inactivity_timeout_ms
    connection_inactivity_timeout_ms
    use_internal_bus_gripper_comm:=false
    use_fake_hardware:=false
    fake_sensor_commands:=false
    sim_gazebo:=false
    sim_ignition:=false
    sim_isaac:=false" >

    <!-- Include and load arm macro files -->
    <xacro:include filename="$(find moveit_resources_kinova_gen3_description)/arms/${arm}/${dof}dof/urdf/${arm}_macro.xacro" />

    <!-- Load the arm -->
    <xacro:load_arm
      parent="${parent}"
      dof="${dof}"
      vision="${vision}"
      robot_ip="${robot_ip}"
      username="${username}"
      password="${password}"
      port="${port}"
      port_realtime="${port_realtime}"
      session_inactivity_timeout_ms="${session_inactivity_timeout_ms}"
      connection_inactivity_timeout_ms="${connection_inactivity_timeout_ms}"
      prefix="${prefix}"
      use_internal_bus_gripper_comm="${use_internal_bus_gripper_comm}"
      use_fake_hardware="${use_fake_hardware}"
      fake_sensor_commands="${fake_sensor_commands}"
      sim_gazebo="${sim_gazebo}"
      sim_ignition="${sim_ignition}"
      sim_isaac="${sim_isaac}" >
      <xacro:insert_block name="origin" />
    </xacro:load_arm>

    <!-- If no gripper, define tool frame here -->
    <xacro:if value="${not gripper}">
      <link name="${prefix}tool_frame"/>
      <joint name="${prefix}tool_frame_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="${prefix}${last_arm_link}" />
        <child link="${prefix}tool_frame" />
        <axis xyz="0 0 0" />
      </joint>
    </xacro:if>

    <!-- Include and load the gripper if defined -->
    <xacro:unless value="${not gripper}">
      <xacro:include filename="$(find moveit_resources_kinova_gen3_description)/grippers/${gripper}/urdf/${gripper}_macro.xacro" />
      <!-- last_arm_link is defined in "$(find moveit_resources_kinova_gen3_description)/arms/${arm}/urdf/${arm}_macro.xacro" -->
      <xacro:load_gripper
        parent="${prefix}${last_arm_link}"
        prefix="${prefix}"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="${fake_sensor_commands}"
        sim_ignition="${sim_ignition}"
        sim_isaac="${sim_isaac}"/>
    </xacro:unless>

  </xacro:macro>

</robot>
