<launch>
  <arg name="sim" default="false" />
  <arg name="limited" default="false"/>
  <arg name="debug" default="false" />
  <arg name="pipeline" default="ompl" />

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/mara_controller/follow_joint_trajectory"/>

  <!-- Launch moveit -->
  <include file="$(find mara_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
    <arg name="pipeline" default="$(arg pipeline)" />
  </include>
</launch>
