<?xml version="1.0"?>
<launch>
  <arg name="gui" default="True" />

  <param name="robot_description" command="$(find xacro)/xacro $(find moveit_resources_panda_description)/urdf/dual_panda.urdf.xacro" />
  
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" required="true" />

</launch>
